.exploreTag {
    -fx-font-family: 'Lexend';
    -fx-font-size: 16;
    -fx-background-color: #158DDA;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 50;
}

.exploreBox {
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom, #A3D9FC, #E8D8F4);
    -fx-border-radius: 20;
}

.common {
    -fx-background-color: #FFFFFF;
}

.searchVBox {
    -fx-background-color: #DEF2FF;
}

.coffeeTag {
    -fx-font-family: 'Lexend';
    -fx-font-size: 22;
    -fx-font-weight: bolder;
    -fx-background-color: transparent;
}

.functionButton {
    -fx-background-color: #DEF2FF;
    -fx-background-radius: 50;
    -fx-font-family: 'Lexend';
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.functionBox {
    -fx-background-color: #DEF2FF;
    -fx-background-radius: 20;
}

.buyMeACoffee {
    -fx-image-radius: 50;
}
