.button {
    -fx-background-color: #A3D9FC;
    -fx-background-radius: 50;
    -fx-font-family: 'Lexend';
    -fx-font-size: 14;
    -fx-font-weight: lighter;
    -fx-padding: 5 13 5 13;
}

.explanationTag {
    -fx-font-family: 'Lexend';
    -fx-font-size: 17;
    -fx-font-weight: bolder;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-pref-width: 370;
    -fx-pref-height: 40;
}