.mes {
    -fx-padding:16;
    -fx-background-color: rgba(32,49,92,0.9);
    -fx-background-radius:8;
}

.textMessage {
    -fx-font-family: Roboto;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:18;
    -fx-font-weight:bold;
}

.textMessageDes{
    -fx-font-family: Roboto;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:12;
}