.wordContainer{
    -fx-padding: 0 0 0 32;
}
.engWord {
    -fx-font-family: 'Lexend';
    -fx-font-size:16;
    -fx-text-fill: #000000;
    -fx-font-weight:bolder;
}

.type {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #A92424 ;
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
}

.pronunciation {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #1E1E1E ;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
}

.desciption {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #000000 ;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
}

.btn{
    -fx-border-color: linear-gradient(to bottom, #A3D9FC, #E8D8F4);
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-min-width: 160;
    -fx-font-size:20;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-padding: 8 12 8 12;
}

.backBtn:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

.detailBtn {
    -fx-border: none;
    -fx-min-width: 180;
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-padding: 6;
    -fx-border-color: linear-gradient(to bottom, #A3D9FC, #E8D8F4);
    -fx-border-width:3;
    -fx-border-radius: 40;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: 'Lexend';
    -fx-font-size:14;
}

.wordListContainer{
    -fx-background-color: #DEF2FF;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.detailBtn:hover{
    -fx-cursor:hand;
    -fx-opacity: 0.6;
}

.imgContainer:hover{
    -fx-opacity: 0.8;
    -fx-cursor:hand;
}

.page{
    -fx-background-color: #ccc;
    -fx-text-fill: #000000;
    -fx-font-weight:bolder;
}

.page:hover{
    -fx-cursor:hand;
    -fx-opacity:0.8;
}

.active {
    -fx-background-color: #4DA5DD;
    -fx-text-fill: #FFFFFF;
}

.test{
    -fx-min-height:60;
    -fx-max-height:60;
}

.addBtn {
    -fx-background-color: transparent;
}

.addBtn {
    -fx-cursor:hand;
}

.addBtn:hover .addImg{
    -fx-opacity:0.8
}

.deleteImg:hover {
    -fx-opacity:0.8;
    -fx-cursor:hand;
}