.common {
    -fx-background-color: #FFFFFF;
}

.wordLabel {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #000000;
    -fx-font-size: 37;
    -fx-font-weight: bolder;
}

.typeLabel {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #A92424;
    -fx-font-size: 16;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
    -fx-padding: 20 0 0 25;
}

.pronunciationLabel {
    -fx-font-family: 'Lexend';
    -fx-text-fill: #000000;
    -fx-font-size: 17;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
}

.addButton {
    -fx-font-family: 'Lexend';
    -fx-font-size: 17;
    -fx-background-color: #158DDA;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 50;
}

.wordBox {
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom, #A3D9FC, #E8D8F4);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.insideBox {
    -fx-background-radius: 20;
}

.definitionLabel {
    -fx-font-family: 'Lexend';
    -fx-font-size: 22;
    -fx-text-fill: #000000;
    -fx-font-weight: bolder;
    -fx-padding: 10 0 0 25;
}

.exampleLabel {
    -fx-font-family: 'Lexend';
    -fx-font-size: 19;
    -fx-font-weight: lighter;
    -fx-padding: 10 0 0 40;
}

.selectPopUp {
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom, #A3D9FC, #E8D8F4);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF;
}

.popUpWindow {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}